body {
  color: #333;
  background-color: #cdecff;
  font-family:
    Consolas,
    monaco,
    monospace;
}

.default-cursor {
  cursor: auto !important;
}

.art-img {
  max-height: 35rem;
}

.small-img {
  margin: 20px 0;
  max-width: 200px;
}

.badge-device {
  background-image: url('../../public/assets/device.png');
}

.container {
  width: 100%;
  height: 100vh;
}

.first-name {
  transform: rotate(270deg);
  transform-origin: left top 0;
  top: 13rem;
  left: 3rem;
}

.last-name {
  transform: rotate(270deg);
  transform-origin: left top 0;
  top: 13rem;
  left: 6rem;
}

@media only screen and (min-width: 475px) {
  .first-name,
  .last-name {
    transform: rotate(0deg);
    transform-origin: left top 0;
    top: 0;
    left: 0;
  }

  .last-name {
    transform: rotate(0deg);
    transform-origin: left top 0;
    top: 0;
    left: 2rem;
  }
}
